<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ApartmentManagementSystem</display-name>
  <servlet>
        <servlet-name>addEmployeeController</servlet-name>
        <servlet-class>controller.AddEmployeeController</servlet-class>
    </servlet>
    
     <servlet>
        <servlet-name>AddRInforController</servlet-name>
        <servlet-class>controller.addRInforController</servlet-class>
    </servlet>
   

     <servlet>
        <servlet-name>UpdateRInforController</servlet-name>
        <servlet-class>controller.updateRInforController</servlet-class>
    </servlet>
    
    
     <servlet>
        <servlet-name>DeleteRInforController</servlet-name>
        <servlet-class>controller.deleteRInforController</servlet-class>
    </servlet>
    
    
      <servlet>
        <servlet-name>AddComplaintController</servlet-name>
        <servlet-class>controller.addComplaintController</servlet-class>
    </servlet>
    
    
    
    <servlet>
        <servlet-name>DeleteComplaintController</servlet-name>
        <servlet-class>controller.deleteComplaintController</servlet-class>
    </servlet>
    
    
    
    <servlet>
        <servlet-name>AddResponseController</servlet-name>
        <servlet-class>controller.addResponseController</servlet-class>
    </servlet> 
    
    
     <servlet>
        <servlet-name>UpdateResponseController</servlet-name>
        <servlet-class>controller.updateResponseController</servlet-class>
    </servlet> 
    
    
    
     <servlet>
        <servlet-name>DeleteResponseController</servlet-name>
        <servlet-class>controller.deleteResponseController</servlet-class>
    </servlet> 
    
    
    
    
     <servlet>
        <servlet-name>AddResidentController</servlet-name>
        <servlet-class>controller.addResidentController</servlet-class>
    </servlet>
    
    
     <servlet>
        <servlet-name>UpdateResidentController</servlet-name>
        <servlet-class>controller.UpdateResidentController</servlet-class>
    </servlet>
    
    
    
     <servlet>
        <servlet-name>DeleteResidentController</servlet-name>
        <servlet-class>controller.DeleteResidentController</servlet-class>
    </servlet>
    
    
    
    
    



    
    
    <servlet-mapping>
        <servlet-name>addEmployeeController</servlet-name>
        <url-pattern>/addEmployee</url-pattern>
    </servlet-mapping>         
    
    
    
     <servlet-mapping>
        <servlet-name>AddRInforController</servlet-name>
        <url-pattern>/addRInforController</url-pattern>
    </servlet-mapping>
    

    
    
     <servlet-mapping>
        <servlet-name>UpdateRInforController</servlet-name>
        <url-pattern>/updateRInforController</url-pattern>
    </servlet-mapping>
	
	
	
     <servlet-mapping>
        <servlet-name>DeleteRInforController</servlet-name>
        <url-pattern>/deleteRInforController</url-pattern>
    </servlet-mapping>
	


     <servlet-mapping>
        <servlet-name>AddComplaintController</servlet-name>
        <url-pattern>/addComplaintController</url-pattern>
    </servlet-mapping>
		


     <servlet-mapping>
        <servlet-name>DeleteComplaintController</servlet-name>
        <url-pattern>/deleteComplaintController</url-pattern>
    </servlet-mapping>
	
	
	
	<servlet-mapping>
        <servlet-name>AddResponseController</servlet-name>
        <url-pattern>/addResponseController</url-pattern>
    </servlet-mapping>	
	

	<servlet-mapping>
        <servlet-name>UpdateResponseController</servlet-name>
        <url-pattern>/updateResponseController</url-pattern>
    </servlet-mapping>	
	


	<servlet-mapping>
        <servlet-name>DeleteResponseController</servlet-name>
        <url-pattern>/deleteResponseController</url-pattern>
    </servlet-mapping>	
		

		


     <servlet-mapping>
        <servlet-name>AddResidentController</servlet-name>
        <url-pattern>/addResidentController</url-pattern>
    </servlet-mapping>


	 <servlet-mapping>
        <servlet-name>UpdateResidentController</servlet-name>
        <url-pattern>/UpdateResidentController</url-pattern>
    </servlet-mapping>
	

     <servlet-mapping>
        <servlet-name>DeleteResidentController</servlet-name>
        <url-pattern>/DeleteResidentController</url-pattern>
    </servlet-mapping>


	
    
	
	
	    
     <welcome-file-list>
                    <welcome-file>home.jsp</welcome-file>
     </welcome-file-list>
</web-app>